@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cedarvilleCursive: 'Cedarville Cursive', cursive;
  --font-indieFlower: 'Indie Flower', cursive;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  color: black;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the handle */
}


.custom-cursor {
  cursor: url('../public/custom-cursor.svg'), auto;
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[48px] md:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] md:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] md:text-[24px] leading-[1.1] font-semibold;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}